/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
body {
  background-color: #B4BBC5;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
body * {
  margin: 0;
  padding: 0;
}
body .wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
body header {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-image: url(/images/plp1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 75%;
  margin: 1.4rem;
  width: 90%;
}
body .navbar {
  margin: 2.4rem;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 90%;
  height: 22%;
  background-color: #FC7C00;
  padding: 1.8rem;
}
@media only screen and (max-width: 500px) {
  body .navbar {
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    font-size: 0.8;
    width: 80%;
    height: 20vh;
    margin: 0.4rem;
  }
}
body .navbar a {
  color: #03161D;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  margin: 1.8rem;
  padding: 2.8rem;
  text-decoration: none;
}
@media only screen and (max-width: 500px) {
  body .navbar a {
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    font-size: 0.5;
    width: 80%;
    margin: 0.4rem;
  }
}
@media only screen and (max-width: 500px) {
  body nav {
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    font-size: 0.5;
    width: 80%;
    margin: 0.8rem;
  }
}
body h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #0E373B;
  text-shadow: 2px 2px white;
  font-family: 'Great Vibes', cursive;
  font-size: 8rem;
  font-weight: bold;
  src: url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
}
@media only screen and (max-width: 500px) {
  body h1 {
    font-size: 4rem;
    align-content: center;
    justify-content: center;
  }
}
body .section1,
body .section2 {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 60%;
  border: solid 5px #FB9800;
  margin: 1.8rem;
  padding: 1.8rem;
}
body .section1 li,
body .section2 li {
  display: flex;
  justify-content: flex-start;
  align-content: left;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.4rem;
}
body .section1 .box1,
body .section2 .box1 {
  width: 350px;
  height: 350px;
}
@media only screen and (max-width: 500px) {
  body .section1,
  body .section2 {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 90%;
    margin: 0.4rem;
    border: none;
  }
}
body h2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #0E373B;
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
  font-weight: bold;
  width: 40%;
  margin: 1rem;
  src: url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
}
body li {
  display: flex;
  justify-content: flex-start;
  align-content: left;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.4rem;
}
body .box2 {
  width: 350px;
  height: 350px;
}
@media only screen and (max-width: 500px) {
  body .box2 {
    width: 200px;
    height: 200px;
    flex-direction: column;
  }
}
.about-body {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  background-color: #B4BBC5;
}
.about-body * {
  margin: 0;
  padding: 0;
}
.wrapper-about {
  display: flex;
  align-content: center;
  justify-content: center;
}
.wrapper-about .about-head {
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url(/images/plp1.jpg);
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 75%;
  margin: 0.4rem;
  width: 100%;
  height: 50vh;
}
.wrapper-about .navbar-about {
  margin: 2.4rem;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 90%;
  height: 12%;
  background-color: #FC7C00;
  padding: 1.8rem;
}
.wrapper-about .navbar-about a {
  color: #03161D;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  margin: 1.8rem;
  padding: 2.8rem;
  text-decoration: none;
}
@media only screen and (max-width: 500px) {
  .wrapper-about nav {
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    font-size: 0.5;
    width: 80%;
    margin: 0.8rem;
  }
}
.wrapper-about .about {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #0E373B;
  text-shadow: 2px 2px white;
  font-family: 'Great Vibes', cursive;
  font-size: 8rem;
  font-weight: bold;
  src: url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
}
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  width: auto;
  height: auto;
  text-align: center;
}
.gallery .galleryPic {
  width: 350px;
  height: 350px;
  margin: 0.8rem;
  border: solid 5px #FB9800;
}
.gallery .galFlex1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.gallery .galFlex2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.gallery h2 {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color: #0E373B;
  font-family: 'Great Vibes', cursive;
  font-size: 1.8rem;
  margin: 0.8rem;
  font-weight: bold;
  src: url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
}
