/// basic styling

body{
    * {
        margin: 0;
        padding: 0;
    }
    background-color: #B4BBC5;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    .wrapper{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }// closes the wrapper
    header {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        background-image: url(/images/plp1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 75%;
        margin: 1.4rem;
        width: 90%;
        }// closes header
        /// navigation styling 
    
    .navbar{
    margin: 2.4rem;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 90%;
    height: 22%;
    background-color: #FC7C00;
    padding: 1.8rem;
        a{
        color: #03161D;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
        font-weight: normal;
        src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
        margin: 1.8rem;
        padding: 2.8rem;
        text-decoration: none;
        @media only screen and (max-width: 500px){
            flex-direction: column;
            flex-wrap: wrap;
            height: auto;
            font-size: .8;
            width: 80%;
            margin: .4rem; 
        }
        }// closes anchor tags

    }// closes nav bar
        h1{
        display: flex;
        justify-content: center; 
        align-content: center;
        color: #0E373B;
        text-shadow: 2px 2px white;
        font-family: 'Great Vibes', cursive;
        font-size: 8rem;
        font-weight: bold;
        src: url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
        }//closes h1
    .section1, .section2{
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        width: 60%;
        border: solid 5px #FB9800;
        margin: 1.8rem;
        padding: 1.8rem;
        li{
            display: flex;
            justify-content: flex-start;
            align-content: left;
            padding: 1rem;
            margin: 1rem;
            font-size: 1.4rem;
        }
        .box1 {
            width: 350px;
            height: 350px;
        }//closes info1
        @media only screen and (max-width: 500px){
            flex-direction: column;
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;
            height: auto;
            width: 90%;
            margin: .4rem; 
        }
    }//closes section 1
    h2{
        display: flex;
        justify-content: center;
        flex-direction: row;
        color: #0E373B;
        font-family: 'Great Vibes', cursive;
        font-size: 2.5rem;
        font-weight: bold;
        width: 40%;
        margin: 1rem;
        src: url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
    }// closes h2
    li{
        display: flex;
        justify-content: flex-start;
        align-content: left;
        padding: 1rem;
        margin: 1rem;
        font-size: 1.4rem;
    }
    .box2 {
        width: 350px;
        height: 350px;
    }//closes info2
}