/// navigation styling 
.navbar{
    margin: 2.4rem;
    display: flex;
    justify-content: right;
    align-content: center;
    width: 66%;
    height: 12%;
    background-color: #FC7C00;
    a{
    color: #03161D;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    margin: .8rem;
        
    }// closes anchor tags
}// closes nav bar
