/// fonts and colors 
@header-font {
    color: #0E373B;
    font-family: 'Great Vibes', cursive;
    font-size:
    font-weight: bold;
    @src: @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
}

@main-font {
    color: #03161D;
    font-family: 'Montserrat', sans-serif;
    font-size: 
    font-weight: normal;
    @src: @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}

@button{
    
}